<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	
	<div id="box">
		
	</div>
	
</body>
<script src="./jquery.js"></script>
<script>
	var no=location.search.split('=')[1]
	$.ajax({
		url:"/index",
		data:{no:no},
		type:"post",
		success:function(msg){
			msg.forEach(function(i){		
				var set="";
				set+="<ul><li>姓名:"+i.tit+"</li>"
				+"<li>性别："+i.content+"</li>"
				+"<li>访问量："+i.num+"</li>"
				+"</ul>"
				$("#box").html(set)
			})

		}
	})
	
		
	
	
</script>
</htnl>